<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Rules for appLauncher" Description="Code analysis rules for appLauncher.csproj." ToolsVersion="17.0">
  <IncludeAll Action="Warning" />
  <Rules AnalyzerId="Microsoft.CodeAnalysis.CSharp" RuleNamespace="Microsoft.CodeAnalysis.CSharp">
    <Rule Id="CS1998" Action="Error" />
  </Rules>
</RuleSet>